{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/login_register.css') }}">
{% endblock %}

{% block main %}
    <main>
        <section id="FormSide">
            <h1>Log In</h1>
            <form method="post">
                {{ form.hidden_tag() }}

                {{ form.email(class="form-control mb-3", type="email", placeholder="Email address") }}
                {{ form.password(class="form-control mb-3", type="password", placeholder="Password") }}
                <div id="loginOpts">
                    <span>
                        {{ form.remember_me(type="checkbox") }}
                        <label for="rememberMe">Remember me</label>
                    </span>
                    <a href="" style="text-decoration: none;">forgot password?</a>
                </div>
                {{ form.submit(value="Login") }}
            </form>
            <p class="mt-2 mb-2">OR</p>
            <div align="center">
                <a href="{{ url_for('users.google_login') }}" class="login-btn" style="text-decoration:none;">
                    <img id="google" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png"
                alt="Google"
                style="width:30px;height:30px;">
                <div class="btn-text">
                    Login with Google
                </div>
                </a> 
            </div>
        </section>

        <section id="Alternate">
            <i class="fas fa-user-plus"></i>
            <h1>Hello, freind!</h1>
            <h2>Sign up now and enjoy are games for free</h2>
            <a href="{{ url_for('users.register') }}">Register <i class="far fa-arrow-alt-circle-right"></i></a>
        </section>
    </main>
{% endblock %}