{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/login_register.css') }}">
{% endblock %}

{% block main %}
    <main>
        <section id="FormSide">
            <h1>Register</h1>
            <form method="post">
                {{ form.hidden_tag() }}

                {{ form.user_name(class="form-control mb-3", type="text", placeholder="User name") }}
                {{ form.email(class="form-control mb-3", type="email", placeholder="Email address") }}
                {{ form.password(class="form-control mb-3", type="password", placeholder="Password") }}
                {{ form.confirm_pass(class="form-control mb-3", type="password", placeholder="Confirm password") }}
                {{ form.submit(value="Register") }}
            </form>
        </section>

        <section id="Alternate">
            <i class="fas fa-sign-in-alt"></i>
            <h1>Hello, freind!</h1>
            <h2>Already have an account?</h2>
            <a href="{{ url_for('login') }}">Sign In <i class="far fa-arrow-alt-circle-right"></i></a>
        </section>
    </main>
{% endblock %}
