html, body{
    margin: 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::before{    
    content: "";
    background-image: url('assets/WorldMap.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

p, h1, h2, h3{margin: 0;}

header{
    position: relative;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    text-align: center;
    min-width: 60%;
    font-size: 40pt;
}

main{
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Data{
    width: 70%;
    height: 20%;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#Data div{width: 33%;}

#Data div h2{
    color: #5B69C3;
    font-size: 32pt;
}

#Data div p{
    font-size: 14pt;
    color: slategray;
}

#Reviews{
    display: flex;
    justify-content: space-around;
    position: relative;
}

#User1{align-self: flex-start;}
#User2{align-self: flex-end;}
#User3{align-self: center;}

.userBox{
    width: 30%;
    height: 70%;
    -webkit-box-shadow: 2px 2px 8px -3px #000000; 
    box-shadow: 2px 2px 8px -3px #000000;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review{
    display: inline-block;
    width: 85%;
    height: 60%;
    font-size: 16pt;
    line-height: 1.3;
    color: slategray;
    margin: 25px auto 0 auto;
}

.userDetails{
    width: 100%;
    height: 40%;
    border-radius: 5px;
    color: white;
    text-align: center;
    position: relative;
}

.userDetails img{
    width: 20%;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

.userID{
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 1.3;
}

.userID h3{font-size: 18pt;}
.userID p{font-size: 14pt;}

#User1 .userDetails{background-color: #FB8B8A;}
#User2 .userDetails{background-color: #5C6AC4;}
#User3 .userDetails{background-color: #47C1BF;}

#User1 .userDetails img{background-color: #ffc0bf;}
#User2 .userDetails img{background-color: #bec6fb;}
#User3 .userDetails img{background-color: #97f1f0;}


@media screen and (max-width: 600px){
    #Reviews{
        width: 100%;
        height: 40%;
    }
}

@media all and (min-width: 600px) and (max-width: 992px){
    #Reviews{
        width: 95%;
        height: 60%;
    }
}

@media all and (min-width: 992px){
    #Reviews{
        width: 90%;
        height: 70%;
    }
}