body{
    background-image: url("Background.jpg");  
}

#container{
    height: 100%;
    margin: 1%;
    display: flex;
}

h1, h2, p, li{
    margin: 5px 0;
    line-height: 1.3em;
}

p, li{
    font-size: 1.3em;
}

header{
    width: 360px;
    height: 150vh;
    font-family: 'Acme', sans-serif;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px rgba(0, 0, 0, 0.1) solid;
}

header img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center 30%;
    border: rgb(128, 128, 128) 2px solid;
    border-radius: 70px;
    margin: 30px auto;
}

header h1{
    margin: 0;
    font-size: 60px;
}

header h2{
    margin: 20px auto;
    font-family: 'Rambla', sans-serif;
    font-size: 25px;
    color: rgb(105, 105, 105);
}

hr{
    border: none;
    height: 2px;
    background-color: rgba(192, 192, 192, 0.6);
}

#ProfileFrame{
    margin: 30px 10%;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

table{
    border-spacing: 0.4em;
}

i{
    margin-right: 10px;
    color: rgb(148, 148, 148);
    -webkit-text-stroke: 0.4px white;
}

#Language{
    align-self: flex-start;
    width: 90%;
    margin: 5px 0 20px 20px;
}

address a{
    margin-top: 30px;
    font-style: normal;
    color: black;
    text-decoration: none;
}

address a:hover{
    font-style: italic;
    color: #0066CC;
}

footer{
    background-color: white;
    padding: 30px 30px 30px 30px;
    font-family: 'Rambla', sans-serif;
}

div + div{
    margin: 30px auto;
}

hr + h2{
    margin-top: 15px;
    font-size: 1.4em;
}

#WorkExperience p + ul{
    margin: 2px auto 30px auto;
}