{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/css/intlTelInput.css">
{% endblock %}

{% block main %}
    <form class="form-control h-25" method="Post">
        {{ form.hidden_tag() }}

        <div class="form-group mb-2">
            <label for="phone">Phone:</label>
            {{ form.phone() }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>

    {% block scripts %}
        {{ super() }}
        <script>
            let wtf_phone_field = document.getElementById('phone');
            let fancy_phone_iti = window.intlTelInput(wtf_phone_field, {
                separateDialCode: true,
                initialCountry: 'il',
                autoPlaceholder: 'aggressive',
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/utils.min.js",
            });
            let ext = document.querySelector(".iti__selected-flag .iti__selected-dial-code").textContent
            console.log(wtf_phone_field.value);
            document.getElementById('submit').addEventListener("click", () => {
                wtf_phone_field.value = `${ext}-${wtf_phone_field.value}`
            });
        </script>
    {% endblock %}
{% endblock %}