{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/css/intlTelInput.css">
{% endblock %}

{% block main %}
    <form class="form-control h-25" method="Post">
        {{ phone_form.hidden_tag() }}

        <div class="form-group mb-2">
            <label for="phone">Phone: </label>
            {{ phone_form.phone() }}
        </div>
        {{ phone_form.submit(class="btn btn-primary") }}
    </form>

    <form class="form-control h-25 mt-2" method="Post">
        {{ name_form.hidden_tag() }}

        <div class="form-group mb-2">
            <label for="name">Name: </label>
            {{ name_form.name() }}
        </div>
        {{ name_form.name_submit(class="btn btn-success") }}
    </form>

    {% block scripts %}
        {{ super() }}
        <script>
            let wtf_phone_field = document.getElementById('phone');
            let fancy_phone_iti = window.intlTelInput(wtf_phone_field, {
                separateDialCode: true,
                initialCountry: 'il',
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/utils.min.js",
            });

            document.getElementById('submit').addEventListener("click", () => {
                let ext = document.querySelector('.iti__country[aria-selected="true"]').getAttribute("data-dial-code")
                if (wtf_phone_field.value.length > 0) {
                    wtf_phone_field.value = `+${ext}-${wtf_phone_field.value}`
                    console.log(`+${ext}-${wtf_phone_field.value}`);
                }
            });
        </script>
    {% endblock %}
{% endblock %}