{% extends "layout.html" %}
{% block title %}Flask Phone Number Input Demo{% endblock %}
{% from 'bootstrap/form.html' import render_form %}

{% block main %}
    <h1>Flask Phone Number Input Demo</h1>
{#    {{ render_form(form) }}#}
    <form action="">
        {{ form.phone() }}
    </form>

    {% block scripts %}
        {{ super() }}
        <script>
            let wtf_phone_field = document.getElementById('phone');
            let fancy_phone_iti = window.intlTelInput(wtf_phone_field, {
                separateDialCode: true,
                initialCountry: 'il',
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/utils.js",
            });
        </script>
    {% endblock %}
{% endblock %}