<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <!--<link rel="stylesheet" type="text/css" href="">-->
</head>

<style>
    body{
        font-size: 1.3em;
    }
</style>

<body>
    <nav>
        <ul>
            <li>
                <a href='http://127.0.0.1:5000/blue'>blue</a>
            </li>
            <li>
                <a href='http://127.0.0.1:5000/red'>red</a>
            </li>
            <li>
                <a href='http://127.0.0.1:5000/green'>green</a>
            </li>
            <li>
                <a href='http://127.0.0.1:5000/yellow'>yellow</a>
            </li>
        </ul>
    </nav>
</body>
</html>