html, body{
    margin: 0;
}

header{
    height: 2vh;
    width: 100%;
    min-width: 550px;
    min-height: 60px;
    background-color: #3ca3d3;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}


header i{
    float: left;
    font-size: 60px;
    margin-left: 5%;
}

nav a:hover{
    border-radius: 5px;
    background-color: white;
}

main{
    {#min-height: 95vh;#}
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 5px;
}

.card{
    width: 19%;
    margin: 1%;
    padding: 15px;
}

a:link{
    text-decoration: none;
}

#Login, #Register{
    width: 50%;
    height: 80%;
    min-height: 500px;
    max-height: 600px;
    margin: 0 auto;
}

#Login{
    float: left;
    width: 50%;
    background-color: #FAFAFA;
    text-align: center;
    padding: 15vh 0 0 0;
}

#Login h1{
    font-size: 45px;
    margin: 0;
}

form{
    width: 70%;
    margin: 0 auto;
}

.inputBox{
    width: calc(100% - 20px);
    margin: 10px 0 20px 0;
    padding: 10px;
    background-color: #EEEEEE;
    border: none;
    border-radius: 1px;
    color: #8F8F8F;
}

input .registerButton{
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 10px 0;
    color: white;
    background-color: rgb(0, 189, 236);
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
}

#hrLine{
    width: 70%;
    margin: 20px auto;
    color: #A6A6A6;
}

#Social{
    width: 70%;
    font-size: 25px;
    margin: 0 auto 50px auto;
}

#Social a i{width: 25px;}
#Social a{color: #8F8F8F;}
#Social a:not(a:last-child){float: left; margin-right: calc(30% - 25px);}

#copyright{color: #8F8F8F;}

#Register{
    float: right;
    width: 50%;
    padding: 25vh 0 0 0;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0) , rgb(0, 201, 251));
    color: white;
}

#Register > i:first-child{
    font-size: 7em;
}

h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 3em;
}

h2{
    text-align: center;
    font-size: 20px;
    margin: 0 10% 50px 10%;
}

#Register a, #Register a > i:last-child{
    font-size: 25px;
    color: white;
    text-decoration: none;
}

#Register a{
    transform: translateY(5px);
    padding: 10px 25px;
    border: white solid 3px;
    border-radius: 45px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3vh;
    float: left;
    width: 100%;
    min-height: 20px;
    border-top: 1px solid black;
}

footer, footer ul{
    background-color: #8ad4f6;
}


@media all and (max-width: 1000px){
    main{width: 100vw;}
 }