{% extends "base.html" %}

{% block jumbotron %}
    <h1 class="text-primary mb-4">{{ product["Name"] }}</h1>
    {% if product["Status"] == "Available" %}
        <div class="alert alert-success" role="alert">
            This product is currently available. Order while stocks last!
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Sorry this product is currently out of stock.
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Product Details
        </div>
        <img src="../static/{{ product['ProductPicUrl'] }}" class="card-img-top w-25" alt="...">
        <div class="card-body">
            {% for key, value in product.items() %}
                <table class="w-75 table table-sm table-borderless" style="line-height: 12px">
                    <tr>
                        <td class="w-25">{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                </table>
            {% endfor %}

            <form method="POST" action="" class="container ps-0 ms-0 gap-3">
                {{ form.hidden_tag() }}
                {{ form.add_to_cart(class="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}