{% extends "base.html" %}

{% block jumbotron %}
    <h1 class="text-white fw-normal ms-5 mt-4">{{ pokemon_type }} pokemon list</h1>
    <h4 class="text-white fw-normal ms-5">Browse for {{ pokemon_type }} pokemon</h4>
{% endblock %}

{% block main %}
    <div class="border border-secondary mt-2 mb-2 p-2 text-center">
        {% for p_type in types_of_pokemon %}
            <a href="/pokemon/bytype/{{ p_type }}" class="fs-3 mt-3 mb-3">
                {{ p_type.title() }}{% if not loop.last %}<span>,&nbsp;</span>{% endif %}</a>
        {% endfor %}
    </div>

    {% for pokemon in pokemon_of_type %}
        <div class="card">
            <a href="/pokemon/byid/{{ pokemon["id"] }}" class="m-auto w-50"><img src="{{ pokemon["img"] }}"
                                                                                 class="card-img-top" alt=""></a>
            <a href="/pokemon/byid/{{ pokemon["id"] }}"
               class="card-title fs-3 text-center">{{ pokemon["name"].title() }}</a>
            <div class="card-body">
                <table class="table table-sm table-borderless" style="line-height: 15px">
                    <tr>
                        <th class="w-25">name:</th>
                        <td class="w-75">{{ pokemon["name"] }}</td>
                    </tr>
                    <tr>
                        <th class="w-25">id:</th>
                        <td class="w-75">{{ pokemon["id"] }}</td>
                    </tr>
                    <tr>
                        <th class="w-25">type:</th>
                        <td class="w-75">
                            {% for p_type in pokemon["types"] %}
                                <a href="/pokemon/bytype/{{ p_type }}">{{ p_type }}</a>
                                {% if not loop.last %} <span>,</span> {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}