{% extends "base.html" %}

{% block jumbotron %}
    <h1 class="text-white fw-normal ms-5 mt-4">Pokemon list</h1>
    <h4 class="text-white fw-normal ms-5">Browse for pokemon</h4>
{% endblock %}

{% block main %}
    {% for pokemon in pokemon_list %}
        <div class="card">
            <a href="/pokemon/byid/{{ pokemon["pokemon_id"] }}" class="m-auto w-50"><img src="{{ pokemon["pokemon_img"] }}" class="card-img-top" alt=""></a>
            <a href="/pokemon/byid/{{ pokemon["pokemon_id"] }}" class="card-title fs-3 text-center">{{ pokemon["name"].title() }}</a>
            <div class="card-body">
                <table class="table table-sm table-borderless" style="line-height: 15px">
                    <tr><th class="w-25">name:</th><td class="w-75">{{ pokemon["name"] }}</td></tr>
                    <tr><th class="w-25">id:</th><td class="w-75">{{ pokemon["pokemon_id"] }}</td></tr>
                    <tr><th class="w-25">type:</th><td class="w-75">{{ ", ".join(pokemon["pokemon_types"]) }}</td></tr>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}
    <nav class="mt-5" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if page == 0 %} disabled {% endif %}">
                <a class="page-link" href="/pokemon/{{ page - 1 }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if page != 0 %}
                <li class="page-item"><a class="page-link" href="/pokemon/{{ page - 1 }}">{{ page - 1 }}</a></li>
            {% endif %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="/pokemon/{{ page }}">{{ page }}</a>
            </li>
            {% if page < ceil %}
                <li class="page-item"><a class="page-link" href="/pokemon/{{ page + 1 }}">{{ page + 1 }}</a></li>
            {% endif %}
            <li class="page-item {% if page == ceil %} disabled {% endif %}">
                <a class="page-link" href="/pokemon/{{ page + 1 }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}